#freshVegetables {
  margin: 40px 0;
  padding: 30px 0;
  .freshVegetables {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--text {
      h4{
        font-weight: 600;
        font-size: 54px;
        color: #151414;
      }
      p{
        font-weight: 370;
        font-size: 22px;
        color: #181D19;
      }
      button {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: #FFFFFF;
        padding: 15px 25px;
        border: none;
        background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
        border-radius: 50px;

        &:hover {
          background: transparent;
          color: #5FB848;
          transition: .6s;
          border: 2px solid #5FB848;
        }
      }
    }
  }
}